.Recetat {
    margin-bottom: 2px;
    display: block;
    margin-bottom: 60px;
    text-align: center;
}

#hahh {
    margin-left: 120px;
    color: #7B241C;
    font-family: Courier New;
    font-size: 30px;
}

.Recetat ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Recetat ul li img {
    height: 220px;
    width: 280px;
    border-radius: 10%;
    text-decoration: none;
    margin: 17px 12px;
}

.noDot {
    list-style-type: none;
}

.noDot h3 {
    font-family: Courier New;
    color: #7B241C;
}

#more {
    display: none;
    color: #7B241C;
}

#more1 {
    display: none;
    color: #7B241C;
}

#more2 {
    display: none;
    color: #7B241C;
}

#more3 {
    display: none;
    color: #7B241C;
}

#more4 {
    display: none;
    color: #7B241C;
}

#more5 {
    display: none;
    color: #7B241C;
}

#more6 {
    display: none;
    color: #7B241C;
}

#rc1 {
    width: 300px;
    border: 15px white;
    padding: 50px;
    margin: 20px;
}

#rc2 {
    width: 300px;
    border: 15px white;
    padding: 50px;
    margin: 20px;
}

#more2 {
    display: none;
}

#more3 {
    display: none;
}

#rc3 {
    width: 300px;
    border: 15px white;
    padding: 50px;
    margin: 20px;
}

#myBtn {
    background-color: #7B241C;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#myBtn2 {
    background-color: #7B241C;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#myBtn3 {
    background-color: #7B241C;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#myBtn4 {
    background-color: #7B241C;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#myBtn5 {
    background-color: #7B241C;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#myBtn6 {
    background-color: #7B241C;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/*prej ktu osht rreshti i dyt apo ul-2*/

.noDot1 {
    list-style-type: none;
}

.noDot1 h3 {
    font-family: Courier New;
    color: #7B241C;
}

#more4 {
    display: none;
}

#rc4 {
    width: 300px;
    border: 15px white;
    padding: 50px;
    margin: 20px;
}

#more5 {
    display: none;
}

#rc5 {
    width: 300px;
    border: 15px white;
    padding: 50px;
    margin: 20px;
}

#more6 {
    display: none;
}

#rc6 {
    width: 300px;
    border: 15px white;
    padding: 50px;
    margin: 20px;
}