
*{
    margin: 0;
    padding: 0;
    }
body{
    margin: 0;
    padding: 0;
}
.log{
    background-image:  url("https://catercow.imgix.net/uploads/photo/image/71307/af5fbbad3c36ab4394907c30e08147c8.jpg?q=80&fit=crop&crop=faces&mark-align=right&mark-pad=0&mark-y=10&mark-h=0.08&mark=https%3A%2F%2Fcatercow.s3.amazonaws.com%2Fverifiedphoto%402x.png&w=900&h=600&auto=compress%2Cformat&s=f444eeb3d2a39363debbf7d2b7c44f94");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 98.9vw;
    height: 100vh;
    margin-top: -126px;
}
#LoginForm {
    
    width: 38%;
    left: 30%;
    min-height: 370px;
    height: auto;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 10%;
    margin-bottom: 10%;

}

label {
    color: #452713;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    font-size: 30px;
    margin-top: 10%;
    font-family: cursive;
    font-family: fantasy;
    background-color: rgb(161, 119, 98);
    opacity: 70%;
}

.input {
    margin-top: 10px;
    width: 50%;
    position: relative;
    left: 25%;
    border: 0px;
    padding-left: 10px;
    height: 40px;
    border-radius: 5px;
    background-color: #cae0d9;
}

#submit {
    margin: 5%;
    position: relative;
    padding: 5px;
    width: 10%;
    left: 40%;
    background-color: rgb(155, 160, 150);
    color: black;
    font-family: cursive;
}

#submit:hover {
    background-color: rgb(143, 47, 44);
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: all 1s;
    border-radius: 40%;
}

.sgnp {
    position: relative;
    left: 21.5%;
}

.sgnp,
.sgnp a {
    display: flex;
    padding: 10px;
    margin-left: 0px;
    color: #452713;
    font-style: bold;
    font-size: 15px;
}

.sgnp a:hover {
    background-color: rgb(143, 47, 44);
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: all 1s;
    border-radius: 40%;
}

.error {
    color: black;
    margin-top: 10px;
    font-size: 20px;
    position: relative;
    left: 25%;
}